<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573355825174-5la04clfu0kcsb95bm1lbbhvf39qkn3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573355825174-5la04clfu0kcsb95bm1lbbhvf39qkn3d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>573355825174-3052ajq8bvcn7f3j3rp41p34l86dhb96.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMhJfkZhMbshTFaVBI_SxqXK8-Og9GQcw</string>
	<key>GCM_SENDER_ID</key>
	<string>573355825174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pure.firebase.chat</string>
	<key>PROJECT_ID</key>
	<string>cloud-function-2df6c</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-function-2df6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573355825174:ios:4654e790fd80bcbd5abd37</string>
</dict>
</plist>